<h1>School Class Edit Form</h1>

<%= form_for(@school_class) do |s| %>
    <label>Title:</label>
    <%= s.text_field :title %><br>

    <label>Room Number:</label>
    <%= s.text_field :room_number %><br>

    <%= s.submit %>

<% end %>